.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

  .i-mail:after, .i-mail .mail-anim:after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 15px;
    height: 4px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
  }
  
  .i-mail:before, .i-mail .mail-anim:before {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 7px;
    height: 6px;
    background: white;
  }
  
  .i-success:after, .i-success .success-anim:after {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 11px;
    width: 15px;
    height: 8px;
    border-bottom: 2px solid #00A8E8;
    border-left: 2px solid #00A8E8;
    transform: rotate(-45deg);
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: calc(50% - 240px);
    width: 540px;
  }
  
  .animation {
    width: 540px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .i-mail, .i-mail .mail-anim {
    width: 40px;
    height: 30px;
    border-radius: 5% 5%;
    border: 2px solid white;
    position: relative;
    animation: transformS 0.3s linear;
  }
  @keyframes transformS {
    50% {
      transform: scale(0.5, 0.5);
      opacity: 0.5;
    }
  }
  .i-mail .mail-anim {
    margin: -2px 0 0 -2px;
    animation: moveL 0.8s linear;
  }
  @keyframes moveL {
    100% {
      transform: translateX(220px) rotateY(90deg);
    }
  }
  
  .line {
    padding: 1px 210px;
    background-image: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 15px 2px;
    background-repeat: repeat-x;
  }
  
  .i-success, .i-success .success-anim {
    width: 40px;
    height: 30px;
    border-radius: 5% 5%;
    border: 2px solid #00A8E8;
    position: relative;
    animation: transformB 0.3s 1.4s linear forwards;
  }
  .i-success:after, .i-success .success-anim:after {
    animation: transformBA 0.3s 1.4s linear forwards;
  }
  @keyframes transformB {
    50% {
      transform: scale(1.5, 1.5);
      background: #00A8E8;
    }
    100% {
      background: #00A8E8;
    }
  }
  @keyframes transformBA {
    100% {
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
    }
  }
  .i-success .success-anim {
    margin: -2px 0 0 -2px;
    animation: moveR 0.8s 1s linear;
  }
  @keyframes moveR {
    0% {
      transform: translateX(-220px) rotateY(90deg);
    }
    50% {
      transform: translateX(0) rotateY(0);
    }
  }
  
  .message {
    text-align: center;
    margin-top: 10px;
    font-family: Roboto, sans-serif;
  }