.Footer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 20vh;
    max-height: 10vh;
    font-size: 1.25em;
    text-decoration: none;
    background-color: #002159;
}

  a.social {
    margin: 5vw;
  }

  a.social:hover {
    color: white;
  }

  a {
      color: #00A8E8;
  }
