.Footer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 20vh;
    max-height: 10vh;
    font-size: 1.25em;
    text-decoration: none;
    background-color: #002159;
}

  a.social {
    margin: 0 3rem;
    padding: 2px;
    height: 40px;
    width: 40px;
  }

  a.social:hover {
    border: white;
    border-style: dashed;
    border-radius: 50%;
    margin: 0 3rem;
    padding-top: 2vh;
    height: 40px;
    width: 40px;
  }

  a {
      color: #00A8E8;
  }